@using Bigon.Business.Modules.BlogsModule.Queries.BlogGetAllQuery
  @model IEnumerable<BlogGetAllDto>

@foreach (var item in Model)
{
    <tr>
        <td id="blogImage">
                <img src="~/uploads/images/@item.ImagePath" />
        </td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.CategoryName</td>
        <td>
            <a asp-controller="blog" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning text-white"><i class="fa-solid fa-pen-to-square"></i></a>
            <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary text-white"><i class="fa-solid fa-info"></i></a>
            <a onclick="removeBlog(@item.Id,'@item.Name')" class="btn btn-danger text-white">
                <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>

}            